# ============== 报告生成 ==============
allure-pytest>=2.16.0
allure-python-commons>=2.16.0

# ============== 核心测试框架 ==============
playwright>=1.48.0
pytest-dependency>=0.6.1
pytest>=8.3.5

# ============== 数据库 ==============
PyMySQL>=1.1.2

# ============== 配置文件与数据处理 ==============

PyYAML>=6.0.3

